@import url(https://fonts.googleapis.com/css?family=PT+Mono|PT+Sans:400,400italic,700|PT+Serif:400,400italic,700|PT+Sans+Caption&subset=latin,latin-ext);
:root {
	--logotype-front: url("https://brand.codevum.com/codevum-v5r.svg");
	--logotype-top: url("https://brand.codevum.com/codevum-h1r.svg");
	--font-default: 10pt "PT Serif", "Garamond", "Georgia", serif;
	--font-caption: "PT Sans Caption", "Verdana", sans-serif;
	--font-monospace: 10pt "PT Mono", "Lucida Console", Monaco, monospace;
}
